@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

:root {
  --color: black;
  --body: white;
  --color-orange: hwb(38.82deg 0% 5%);
}

:root .dark {
  --color: white;
  --body: black;
}

.main {
  width: 75vw;
  margin: auto;
}

html {
  scroll-behavior: smooth;
}

body {
  background: var(--body);
}

h1 {
  font-size: clamp(2.5em, 3em, 3em);
}

h2 {
  font-size: clamp(1.8em, 2em, 2em);
}

h3 {
  font-size: clamp(1.5em, 1.5em, 1.5em);
}

p,
li,
button,
i,
a {
  font-size: clamp(1.2em, 1.3vw, 1.3em);
}

h1,
h2,
h3,
a,
li,
p {
  color: var(--color);
  word-break: keep-all;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

button {
  outline: none;
}

#header {
  backdrop-filter: blur(30px);
  position: sticky;
  top: 0;
}

#header .main {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10vh;
}

#header .main nav:nth-child(2) {
  display: none;
}

.menuNav li {
  position: relative;
}

#header li::after {
  content: "";
  display: block;
  width: 0;
  height: 2px;
  background: var(--color-orange);
  position: absolute;
  left: 0;
  transition: width 500ms;
}

#header li:hover::after {
  width: 100%;
}

#header,
#footer {
  padding: 5vh 0;
  z-index: 1;
}

.menuNav {
  display: flex;
  flex-flow: wrap;
  gap: 5vh;
  align-items: center;
}

#footer li,
.theme {
  display: flex;
  align-items: center;
  gap: 3vh;
}

.buttonPrimary {
  display: flex;
  align-items: center;
  gap: 10px;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  background: var(--color);
  color: var(--body);
}

#main {
  z-index: 0;
  margin: 10vh auto;
}

#main .main {
  display: flex;
  flex-flow: column;
  gap: 10vh;
}

#projects {
  display: flex;
  flex-flow: column;
  gap: 10vh;
}

.project {
  display: grid;
  grid-template-areas: "header footer";
  grid-template-columns: 1fr 1fr;
  align-items: center;
  gap: 10vh;
  animation: up 500ms backwards var(--delay);
}

@keyframes up {
  from {
    transform: translateY(10vh);
    opacity: 0;
  }
}

.project:nth-child(2n) {
  grid-template-areas: "footer header";
}

.project header {
  grid-area: header;
  width: 100%;
  height: 100%;
  position: relative;
  background-image: url("/img/svg/image.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.project header img {
  width: 100%;
  height: 100%;
  position: absolute;
  object-fit: cover;
}

.project header h1 {
  color: var(--body);
}

.project footer {
  grid-area: footer;
  display: flex;
  flex-flow: column;
  align-items: flex-start;
  gap: 5vh;
  margin: 10vh 0;
}

.projectTecnologies {
  display: flex;
  align-items: center;
  gap: 5vh;
}

.projectTecnologies li {
  display: flex;
  align-items: center;
  color: var(--color-orange);
}

.projectTecnologies li img {
  width: 50px;
  height: 50px;
}

.projectButtons {
  display: flex;
  gap: 5vh;
}

.projectButton {
  background: var(--color-orange);
  border: none;
  border: 1px solid var(--color-orange);
}

.projectButton:nth-child(2n) {
  background: transparent;
  position: relative;
  overflow: hidden;
}

.projectButton:nth-child(2n)::before {
  content: "";
  width: 0;
  height: 100%;
  position: absolute;
  background: var(--color-orange);
  left: 0;
  transition: width 500ms;
  z-index: -1;
}

.projectButton:nth-child(2n):hover::before {
  width: 100%;
}

.projectButton a {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 10px 20px;
  color: var(--body);
}

.projectButton:nth-child(2n) a {
  color: var(--color-orange);
}

.projectButton:nth-child(2n):hover .projectButton a:nth-child(2n) {
  color: var(--body);
}

.projectButton:nth-child(2n):hover a {
  color: var(--body);
}

#footer .main {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#footer ul {
  display: flex;
  flex-flow: column;
  gap: 2vh;
}

#footer ul li div {
  display: flex;
  flex-flow: column;
}

#footer button {
  border: none;
  background: var(--color);
}

#footer button a {
  display: flex;
  align-items: center;
  gap: 10px;
  color: var(--body);
  padding: 10px 20px;
}

@media screen and (max-width: 768px) {
  .main {
    width: 85vw;
  }
  .menu {
    display: none;
    top: 50vh;
    left: 50%;
    position: absolute;
    background: var(--body);
    padding: 5vh;
    transform: translateX(-50%) translateY(-50%);
  }
  #header .main nav:nth-child(2) {
    display: block;
  }
  #header .main nav:nth-child(4) {
    display: none;
  }
  .project header {
    height: 50vh;
  }
  .project {
    display: flex;
  }
  .project footer {
    margin: 0;
  }
  #footer .main,
  .project,
  .projectButtons,
  #footer .main ul li {
    flex-flow: column;
  }
  .projectTecnologies li img {
    height: 70px;
    width: 70px;
  }
  .projectButtons,
  .projectTecnologies {
    justify-content: center;
    align-items: center;
    width: 100%;
  }
  #footer .main {
    gap: 5vh;
  }
  #footer ul li {
    word-break: break-all;
  }
  #footer ul li div {
    align-self: flex-start;
  }
}
